.cardContainer{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
    .card{
      display: flex;
      flex-direction: column;
      position: relative;
      height: 80%;
      width: 90%;
      border-radius: 25px;
      padding:20px;
      transform-origin: top;
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.20 );
backdrop-filter: blur( 6px );
-webkit-backdrop-filter: blur( 6px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
      h2{
        text-align: center;
        margin: 0px;
        font-size: 28px;
      }
      .body{
        display: flex;
        height: 100%;
        margin-top: 20px;
        gap: 50px;
  
        .description{
          width: 40%;
          position: relative;
          top: 10%;
          p{
            font-size: 16px;
            &::first-letter{
              font-size: 28px;
              font-family: 'Title';
            }
          }
          span{
            display: flex;
            align-items: center;
            gap: 5px;
            a{
              font-size: 12px;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
  
        .imageContainer{
          position: relative;
          width: 60%;
          height: 100%;
          border-radius: 25px;
          overflow: hidden;
          .inner{
            width: 100%;
            height: 100%;
          }
          img{
            object-fit: cover;
          }
        }
      }
    }
  }