.introduction {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 99;
    background: var(--intro-bg);
}
.introduction svg {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% + 300px);
}
.introduction svg path {
    fill: var(--intro-bg);
}
.introduction p {
    display: flex;
    color: var(--intro-text);
    font-size: 42px;
    align-items: center;
    position: absolute;
    z-index: 1;
}
.introduction p span {
    display: block;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
}
